$lv1: #61B351, #77CC66;
$lv2: #D9C141, #DEC862;
$lv3: #CC6666, #E68F8F;
$lv4: #9966CC;

html {
  height: 100%;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 75%);
  font-size: 16px;
  transition: all .3s ease;
}
// Remove defalt style
a {
  text-decoration: none;
}
button {
  &:focus {
    outline: none;
  }
}
// Level color
.lv-1 {
  background-image: linear-gradient($lv1);
  .button {
    color: #61B351;
  }
}

.lv-2 {
  background-image: linear-gradient($lv2);
  .button {
    color: #61B351;
  }
}

.lv-3 {
  background-image: linear-gradient($lv3);
  .button {
    color: #61B351;
  }
}

.lv-4 {
  background-color: $lv4;
  .button {
    color: #61B351;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
// General
div {
  box-sizing: border-box;
}
.clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
// Buttom
.button {
  border-radius: 4px;
  padding: 8px 16px;
  background: #FFF;
}

// Speech Bubble
.bubble {
  position: relative;
  text-align: center;
  &:after {
    content: "";
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -2px;
    margin-left: -5px;
    border-top: 0px solid #FFF;
  }
  p {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    color: transparent;
    &:after {
      content: "";
      position: absolute;
      left: 50%; top: 100%;
      visibility: hidden;
      width: 4px;
      height: 4px;
      border-radius: 20px;
      background: #FFF;
      z-index: -1;
      transform: translate(-50%, -100%);
    }
  }
  &.is-active {
    &:after {
      // visibility: hidden;
      visibility: visible;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #FFF;
    }
    p {
      visibility: visible;
      color: hsl(0, 0%, 35%);
      &:after {
        visibility: visible;
        border-radius: 12px;
        width: 100%; height: 100%;
      }
    }
  }
}
.bubble {
  p {
    transition: all .15s ease;
    &:after {transition: all .3s ease .15s;}
  }
  &.is-active {
    &:after {transition: all .3s ease .15s;}    p {
      transition: color .3s ease .3s;
      &:after {transition: all .3s ease;}
    }
  }
}


.locate {
  color: #FFF;
  .locate__select {
    select {
      -webkit-appearance: none;
      border: 2px solid #FFF;
      border-radius: 4px;
      padding: 8px 16px;
      background: transparent;
      font-size: 20px;
      color: #FFF;
      cursor: pointer;
    }
  }
  .locate__map {
    margin: 24px 0px;
    .locate__map__svg {

    }
    .locate__map__name {

    }
  }
}
@keyframes floating {
  from {
    transform: translate(0, 6px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes wave {
  form {
    transform: scale(1,1);
    opacity: 1;
  }
  to {
    transform: scale(3,3);
    opacity: 0;
  }
}
.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: scale(.25, .25);
  transition: transform .3s cubic-bezier(.87,0,.11,1.44);
  &.is-open {
    visibility: visible;
    transform: scale(1, 1);
  }
  &.is-close {
    visibility: hidden;
  }
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 36px 60px;
  background: #FFF;
  box-shadow: 0px 4px 12px hsla(0,0%,0%,.5);
  transform: translate(-50%, -50%);
  z-index: 500;
  h2 {
    color: hsla(0,0%,35%,1);
    text-align: center;
  }
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 36px;
  height: 36px;
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    border-radius: 3px;
    width: 36px;
    height: 6px;
    background: hsl(0, 0%, 60%);
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  &:hover {
    &:before, &:after {
      background: hsl(0, 0%, 35%);
    }
  }
}
.airbox {
}
.airbox__content {
  background: #FFF;
}
.airbox__clock {}
.airbox__title {
  color: hsla(0,0%,35%,1);
  strong {
    font-size: 36px;
  }
}
.airbox__info {
  section {
    margin: 8px 0px;
    width: 400px;
    text-align: left;
    color: hsla(0, 0%, 35%, 1);
    overflow: hidden;
    label {
      font-size: 15px;
      i {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        &.lv1-color {
          background-image: linear-gradient($lv1);
        }
        &.lv2-color {
          background-image: linear-gradient($lv2);
        }
        &.lv3-color {
          background-image: linear-gradient($lv3);
        }
        &.lv4-color {
          background-color: ($lv4);
        }
      }
      span {
        vertical-align: middle;
      }
    }
    p {
      float: right;
      margin: 0;
      margin-left: 12px;
      width: 300px;
      line-height: 24px;
      font-size: 15px;
    }
  }
}

.clock {
  position: relative;
  margin: 12px auto;
  border: 20px solid #FFF;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  box-shadow: 0px 0px 12px hsla(0,0%,0%,.5);
  box-sizing: content-box;
  overflow: hidden;
}
.clock__block {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0px 0px 12px hsla(0,0%,0%,.5);
    z-index: 1;
  }
  & > div {
    position: absolute;
    width: 80px;
    height: 80px;
  }
  .is-lv1 {
    top: 0;
    right: 0;
    background-image: linear-gradient(-45deg, $lv1);
  }
  .is-lv2 {
    bottom: 0;
    right: 0;
    background-image: linear-gradient(45deg, $lv2);
  }
  .is-lv3 {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(135deg, $lv3);
  }
  .is-lv4 {
    top: 0;
    left: 0;
    background-color: $lv4;
  }
}
.clock__arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: transform .3s ease;
  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -10px;
    border-radius: 50% 50% 50% 50%/80% 80% 20% 20%;
    width: 20px;
    height: 80px;
    background-color: #FFF;
    box-shadow: 0px 0px 12px hsla(0,0%,0%,.5);
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    box-shadow: 0px 0px 12px hsla(0,0%,0%,.5);
    z-index: 1;
  }
}

.welcome {
  font-size: 36px;
  color: #FFF;
}
.frog {
}
.frog__talk {
  position: relative;
  border-radius: 12px;
  margin: 0 auto;
  width: 240px;
  font-size: 16px;
  color: hsla(0,0%,35%,1);
  p {
    padding: 8px 16px;
    line-height: 1.5em;
    text-align: left;
  }
}
.frog__main {
  margin-top: -18px;
}
.frog__state {
  color: #FFF;
  font-size: 18px;
  strong {
    font-weight: normal;
  }
}
.frog__title {
  color: #FFF;
}
.air__locate {
}
.locate {}
.locate__controller {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 60px;
  span {
    display: block;
    position: relative;
    border: 20px solid #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    animation: floating 1s ease-in-out .22s infinite alternate;
    &::before {
      content: '';
      position: absolute;
      bottom: -36px;
      left: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid #FFF;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin-left: -6px;
    width: 10px;
    height: 4px;
    animation: wave 2s ease-out 0s infinite;
  }
}

.svg {
  width: 250px;
  height: 210px;
  path,circle, line {
    stroke: #FFF;
    stroke-width: 5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
